
*{
	margin: 0px;
	padding: 0px;
}
.clear{ clear:both;}

a:hover span{
	background-color:#59c3e1}
	
a:link{text-decoration:none;

}

.bg{
	margin-left: auto;
	margin-right: auto ;
	width: 1400px;

}

.secondline{
	font-size:60px ;
	font-weight:bolder ;
	color:black;
	margin-left:450px;
	margin-top: 40px;
	margin-bottom: 30px;
	
}

.turn_sp{
	font-size:15px ;
	margin: 10px;
	color:black;
	padding: 10px;
	border-radius:3px;
}

.body1{
	width: 1400px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom:30px ;	
	background-color:#EFF4F7 ; ;
	position: absolute;
}

.sp1{

	color: #59c3e1;
	text-shadow: 2px 2px 10px;
	font-size: 30px;
}

.se1{
	width: 150px;
	height: 32px;
	border: 1px solid #59c3e1;
	line-height: 30px;
	font-size: 20px;
	margin-left:40px ;
	border-radius:3px ;


}

.te1{
	width: 700px;
	height: 30px;
	border: 1px solid #59c3e1;
	border-radius: 3px;
	line-height: 30px;
	font-size: 23px;
}


.compare,.exam,.exam2,.restart,.search{
	width: 100px;
    height: 35px;

    font-size: 18px;
    border-radius: 6px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    border: 1px solid transparent;
}


.search{
	position: absolute;
	left: 430px;
	top: 340px;
}

.compare{

	position: absolute;
	left:230px;
	top: 340px;
}

.exam{
	position: absolute;
	left: 630px;
	top: 340px;

}
.exam2{
	position: absolute;
	left:830px;
	top: 340px;
}

.restart{
	position: absolute;
	left:1030px ;
	top: 340px;
}


.tab1{

	margin-top:130px ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width:1000px;
	border: solid #45B0D2;
	font-size:23px ;
	

}
.tab2{

	font-weight: bolder;
	border: 1px solid #45B0D2;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 420px;
	left:170px;


}
.t222{
	font-weight: bolder;
	border:1px solid #45B0D2;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 420px;
	left:170px;

	
}
.tab1 td{
	border:1px solid #63A8F5;	
}
.tab2 td{
	border:1px solid #63A8F5;	
}
.t222 td{
	border:1px solid #63A8F5;	
}
.td1{
	width: 150px;
}
.td2{
	width: 150px;
}
.td3{
	width:100px;
}
.td4{
	width: 500px;
}
.td5{
	width: 94px;
}
.td6{
	width: 93px;
}
.part2{
	margin: 30px;
	margin-top:50px ;
	margin-left: 250px;
}
.part1{
	margin: 30px;
	margin-top:50px ;
	margin-left: 250px;
}
.part3{
	margin: 30px;
	margin-top:50px ;
	margin-left: 250px;
}
.part4{
	margin: 30px;
	margin-top:50px ;
	margin-left: 250px;
}

.part2 input{
	margin-left: 54px;
}
/*name琛岄琛岀缉杩�*/

.newpart{
	margin: 30px;
	margin-top:50px ;
	margin-left: 250px;
}
.wblock{
	width: 1400px;
	height: 60px;
}
