*{
	padding: 0px;
	margin: 0px;
}
.clear{ clear:both;}

a:hover span{
	background-color:#076CE0}
	
a:link{text-decoration:none;

}

}
a{text-decoration:none;
}

.bg{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}


.secondline{
	font-family: "微软雅黑";
	font-size:55px ;
	font-weight:bolder ;
	color:black;
	display: block;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.turn_sp{
	font-family: "微软雅黑";
	font-size:15px ;
	margin: 10px;
	color:black;
	padding: 10px;
	border-radius:3px
}

.head1{
	width: 1400px;
	height: 400px;
	border: none;
	background-image: url(../img/111.png);
	background-repeat:no-repeat ;
	background-size:1400px 400px ;
	margin-top:20px;
	margin-bottom:40px ;	

}


.body1{
	width: 1400px;
	background-color: #EFF4F7;
}
.allpart{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
}
.part1{

	width: 1100px;
}
.sp1{

	font: "微软雅黑";
	font-size: 40px;
	line-height: 80px;
	font-weight: bolder;
	color: #076CE0;
	margin:30px ;
	margin-right:400px;
}
.se1{

	width: 120px;
	height: 28px;
	line-height: 28px;
	font-size: 18px;
	margin-right: 15px;
	
}

.su1{
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: white;
	background-color: #019BDB;
	border-radius: 15px;
	
}


.part2{

	width: 1100px;
	background-color: white;

}

.table1{
	margin-top:30px ;
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	border: solid #45B0D2;
	font-size:23px ;
}

.table1 td{
	border:1px solid #63A8F5;	
}
.table2{

	margin-left: auto;
	margin-right: auto;
	width:1000px;
	border: solid #45B0D2;
}

.table2 td{
	border:1px solid #63A8F5;	
}


.part3{
	margin-top: 30px;
	margin-left:60px;
	margin-bottom: 30px;
	font-size:20px;
	color:#63A8F5;
}
.part3 a{
	color:#63A8F5;
}
.part3 a:visited{
	color:black;
}
.turnup a:visited{
	color:#63A8F5;
}
.turndown a:visited{
	color:#63A8F5;
}

.lasts{

	font: "微软雅黑";
	font-size: 20px;
	margin: 10px;
	margin-left: 30px;
	color:#63A8F5;
}
.lastp{
	font: "微软雅黑";
	font-size: 20px;
	margin: 10px;
	color:#63A8F5;

}
.lastip{
	width: 30px;
	height: 20px;
	line-height: 20px;
	font: "微软雅黑";
	font-size:20px;
	color: red;

	
}

.turnout{
	width: 50px;
	height: 25px;
	line-height: 26px;
	color: white;
	background-color: #019BDB;
	border-radius: 10px;

}

.part4{
	padding-left: 30px;
	height: 80px;
}

.part4 p{
	margin: 5px;
	color:#63A8F5;
}


