@keyframes img-keyframe {
		0% {opacity: 1.00;}
		50% {opacity: 0.00;}
		100% {opacity: 1.00;}
	}

	@-webkit-keyframes img-keyframe {
			0% {opacity: 1.00;}
			50% {opacity: 0.00;}
			100% {opacity: 1.00;}
		}
	
	@-moz-keyframes img-keyframe {
			0% {opacity: 1.00;}
			50% {opacity: 0.00;}
			100% {opacity: 1.00;}
		}

	@-o-keyframes img-keyframe {
			0% {opacity: 1.00;}
			50% {opacity: 0.00;}
			100% {opacity: 1.00;}
		}

#img-change {
		animation: img-keyframe 2.7s ease-in-out infinite;
			-webkit-animation: img-keyframe 2.7s ease-in-out infinite;
			-moz-animation: img-keyframe 2.7s ease-in-out infinite;
			-o-animation: img-keyframe 2.7s ease-in-out infinite;
	}

.font-change {
		font-family: Times New Roman;
	}	

.margin-change {
		margin-top: 25px;
	}

.img-style {
		position: relative;
		left: 50%;

		margin-left: -70px;
	}

#button-change {
		width: 155px;
		height: 25px;

		line-height: 25px;
		
		color: #fff;

		background-color: #1976d2;

		transition: color 0.72s ease-in-out 0.0s;
			-webkit-transition: color 0.72s ease-in-out 0.0s;
	}

#button-change:hover {
		font-family: "华文行楷";
		font-size: 22px;
		color: #1976d2;

		background-color: #fff;
	}

.canvas-style {
		position: absolute;

		z-index: -1;
	}

.btn-style {
		display: table;

		width: auto;

		margin-left: auto;
		margin-right: auto;
	}

.icons {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		font-style: normal;
	}