.bc-1x {
    background-color: rgba(255, 120, 85, 0.5);
}

.bc-2x {
    background-color: rgba(255, 155, 85, 0.5);
}

.bc-3x {

    background-color: rgba(255, 190, 85, 0.5);
}

.bc-4x {
    background-color: rgba(255, 225, 85, 0.5);
}

.bc-5x {
    background-color: rgba(255, 255, 85, 0.5);
}

.bc-6x {
    background-color: rgba(225, 255, 85, 0.5);
}

.bc-7x {
    background-color: rgba(190, 255, 85, 0.5);
}

.bc-8x {
    background-color: rgba(155, 255, 85, 0.5);
}

.bc-9x {
    background-color: rgba(120, 255, 85, 0.5);
}

.bc-10x {
    background-color: rgba(85, 255, 85, 0.5);
}

.bc-11x {
    background-color: rgba(85, 255, 120, 0.5);
}

.bc-12x {
    background-color: rgba(85, 255, 155, 0.5);
}

.bc-13x {
    background-color: rgba(85, 255, 190, 0.5);
}

.bc-14x {
    background-color: rgba(85, 255, 225, 0.5);
}

.bc-15x {
    background-color: rgba(85, 255, 255, 0.5);
}

.bc-16x {
    background-color: rgba(85, 225, 255, 0.5);
}

.bc-17x {
    background-color: rgba(85, 190, 255, 0.5);
}

.bc-18x {
    background-color: rgba(85, 155, 255, 0.5);
}

.bc-19x {
    background-color: rgba(85, 120, 255, 0.5);
}

.bc-20x {
    background-color: rgba(85, 85, 255, 0.5);
}

.bc-21x {
    background-color: rgba(120, 85, 255, 0.5);
}

.bc-22x {
    background-color: rgba(155, 85, 255, 0.5);
}

.bc-23x {
    background-color: rgba(190, 85, 255, 0.5);
}

.bc-24x {
    background-color: rgba(225, 85, 255, 0.5);
}

.bc-25x {
    background-color: rgba(255, 85, 255, 0.5);
}

.bc-26x {
    background-color: rgba(255, 85, 255, 0.5);
}

.bc-27x {
    background-color: rgba(255, 85, 255, 0.5);
}

.bc-28x {
    background-color: rgba(255, 85, 255, 0.5);
}

.bc-29x {
    background-color: rgba(255, 85, 255, 0.5);
}

.bc-30x {
    background-color: rgba(255, 85, 255, 0.5);
}

.bc-31x {
    background-color: rgba(255, 85, 225, 0.5);
}

.bc-32x {
    background-color: rgba(255, 85, 190, 0.5);
}

.bc-33x {
    background-color: rgba(255, 85, 155, 0.5);
}

.bc-34x {
    background-color: rgba(255, 85, 120, 0.5);
}
