#top1{
    width: 100%;
    height: 80px;
    background: #800704;
}
.main{
    width: 940px;
    height:auto;
    border: 4px solid #800704;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
.main_data{
    width: 940px;
    height: 382px;
}
.main_data1{
    width: 420px;
    height: 300px;
    float:left;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}
.main_data1:hover{
    box-shadow: 0px 0px 15px #1E1E1E;
}
.main_data2{
    width: 420px;
    height: 300px;
    background-color: #f0f0f0;
    float:right;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}
.main_data2:hover{
    box-shadow: 0px 0px 15px #1E1E1E;
}
.main_plot{
    width: 940px;
    height: 460px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #1E1E1E;
}
.form1{
    margin-left: 20px;
}
.form_right{
    margin-left: 30px;
    width: 100px;
}
.ziti{
    font-size: 16px;
    margin-left: 10px;
}
.plotBut{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 6px ;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #800704;
    margin-top: 20px;
}
.plotBut:hover{
    background-color: #E1A837;

}
.main_select{
    width: 130px;
    height: 40px;
    margin-top: 10px;
    background-color:#7E0001;
    color: #FFFFFF;
    font-size: 16px;
}
.main_select:hover{
    background-color:#E1A837 ;
}
.sec1{
    width: 170px;
    height: 30px;
    margin-top: 10px;
    background-color: #FFFFFF;
    font-size: 14px;
}